.delBTN {
  margin: 9px;
  border: 1px solid;
        border-radius: 4px;

}
.inpup {
  width: 66px;
  border: 1px solid;
        border-radius: 4px;

}
.upBTN{
      border: 1px solid;
      margin-left: 3px;
      border-radius: 4px;

    
}

